
#ingredients{

    height: auto;
    width: 50%;
    background-color: rgb(215, 206, 216);
}

#recipe{

    height: auto;
    width: 50%;
    background-color: rgb(215, 206, 216);
    font-size: 1.2rem;
    text-align: left;
    
}


.container{

    display: flex;
    gap: 30px;
    width: 80%;
    padding: 20px;
    justify-self: center;
    

}

#biscuit{
    width: 40%;

    
}

.table{
    text-align: left;
    font-size: 1.2rem;
    justify-self: center;
    width: 100%;
    
}

.content{

    justify-self: center;
    justify-items: center;
    padding: 40px;
    margin: 50px;
    background-color: rgb(209, 191, 210);
    border: 2px solid black;
    width: 60%;
}

header{
    background-image:  url(cheesecake.jpg);
    padding: 100px;
    text-align: right;
    font-size: 30px;
    color: rgb(0, 0, 0);
    
}

.title, h2{
    font-family: cursive;
}


#intro{

    width: 60%;
    text-align: center;
    margin-top: 20px;
    padding: 50px;
    display: flex;
    justify-self: center;
    font-size: 1.5rem;
    border: 3px solid black;
    background-color: rgb(209, 191, 210);
    
}

body {
    background-color: rgb(165, 144, 167);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

.box{
    border-radius: 10px;
    padding: 20px;
}

.table tr{

    border: 2px solid black;
    border-collapse: collapse;

}

#links{
    justify-self: center;
    background-color:  rgb(209, 191, 210);;
    font-size: 1.2rem;
    border: 2px solid black;
    padding: 20px;
    margin: 50px;
    width: 90%;
}
