body{

    background-color: rgb(179, 183, 188);

}

.title{
    color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
}


h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
}

header{
 width: 100%;
 height: 100px;
 background-image: url(logo.png);
 position: relative;
 display: flex;
 align-items: center; 
 justify-content: center; 
}

.grid-container{ 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 10px;   
}

.songs{
    text-align: center;
    width: 100%;
    height: auto;
}

a{

    color: black;
    
}

.image{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10%;   
}

main{
    margin-top: 50px;
}
